<template name="login">

    <div class="card">
        <div class="item item-text-wrap">
    Helping Hand is a social intelligence app for behaviour modification. 
        </div>
    </div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" id="username">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" id="password">
        </label>
        <button class="button button-block button-positive" id="login">
        Login
        </button>
        <button class="button button-block button-balanced" id="join">
        Join
        </button>
        <button class="button button-block button-stable" id="reset">
        Reset Password
        </button>

    </div>
</template>
