<template name="reset">

    <div class="card">
        <div class="item item-text-wrap">
    I always forget my passwords! Enter your email below for reset instructions.
        </div>
    </div>
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" id="email">
        </label>
        <button class="button button-block button-positive" id="login">
        Login
        </button>
        <button class="button button-block button-balanced" id="join">
        Join
        </button>
        <button class="button button-block button-stable" id="reset">
        Reset Password
        </button>

    </div>
</template>
