<template name="addHelper">
{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Invite Helpers</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="card">
    <div class="item item-text-wrap">
    Helpers are people you trust to report to you about your behaviours. Helpers can file reports, but they cannot see your well-being score, nor can they see reports made by other people.
    </div>
  </div>

  <div class="list">
        <label class="item item-input">
            <span class="input-label">Email Address</span>
            <input type="text" id="email">
        </label>
        
        <button class="button button-block button-balanced" id="invite">
        Invite
        </button>

    </div>

  {{/ionContent}}
{{/ionView}}
</template>