<template name="addHelpee">
{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Invite Someone to Help</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="card">
    <div class="item item-text-wrap">
    Invite someone to use Helping Hand, so you can be their helper.
    </div>
  </div>

  <div class="list">
        <label class="item item-input">
            <span class="input-label">Email Address</span>
            <input type="text" id="email">
        </label>
 
        <button class="button button-block button-balanced" id="invite">
        Invite
        </button>

    </div>

  {{/ionContent}}
{{/ionView}}
</template>