<template name="addPartner">
{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="index"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Invite Partners</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="card">
    <div class="item item-text-wrap">
    Partners can report, see your well-being score, see reports made by others about you and get notifications.
    </div>
  </div>

  <div class="list">
        <label class="item item-input">
            <span class="input-label">Email Address</span>
            <input type="text" id="email">
        </label>

        <button class="button button-block button-balanced" id="invite">
        Invite
        </button>

    </div>

  {{/ionContent}}
{{/ionView}}
</template>