<template name="addReport">
{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="people"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Submit Report</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="card">
    <div class="item item-text-wrap">
    Set the slider to the well-being score you believe <b>@{{who}}</b> to be at, on a scale from 0 - need hospitalisation, to 100 - perfectly fine.
    </div>
  </div>

  <div class="list">

        <div class="item range">
          <i class="icon ion-ios-heart-outline"></i>
          <input type="range" name="health" id="health">
          <i class="icon ion-ios-heart"></i>
        </div>

        <li class="item item-toggle">
         File Anonymously
        <label class="toggle toggle-balanced">
        <input type="checkbox" id="anon">
        <div class="track">
        <div class="handle"></div>
        </div>
        </label>
        </li>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Report Message</span>

        <textarea placeholder="Hello" rows="8" cols="10" id="message">
        </textarea>
        </label>
        <button class="button button-block button-balanced" id="report">
        Submit Report
        </button>

    </div>

  {{/ionContent}}
{{/ionView}}
</template>