<template name="dashboard">

{{#contentFor "headerButtonRight"}}
<a href='settings' id="settings" class="button button-icon icon ion-ios-gear"></a>
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Helping Hand</h1>
{{/contentFor}}


{{#ionView}}
  {{#ionContent}}
    <div class="jumbotron">
        <h3 class="label">Your well-being:</h3>
        <h2>{{health}}%</h2>
    </div>

    {{#ionList}}

    <div class="item item-divider item-icon-right">
    Reports About You
    <a href="addReport"><i class="icon ion-plus-circled" style="color: #333;"></i></a>
    </div>

    {{#each reports}}
        {{>report}}
    {{/each}}

    {{/ionList}}

    <br />
  {{/ionContent}}

  {{#ionTabs class="tabs-striped tabs-color-positive"}}
        {{> ionTab title="Tab1" path="home" icon="ios-heart"}}
        {{> ionTab title="Tab2" path="people" icon="person-stalker"}}
        {{> ionTab title="Tab3" path="help" icon="ios-help"}}
    {{/ionTabs}}

{{/ionView}}
</template>