<template name="dashboard">

{{#contentFor "headerButtonRight"}}
<a href='settings' id="settings" class="button button-icon icon ion-settings"></a>
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Helping Hand</h1>
{{/contentFor}}


{{#ionView}}
  {{#ionContent}}
    <div class="card">
    <div class="item item-text-wrap">
    Your health is at 100%
    </div>
    </div>

    <div class="list">
    <div class="item item-divider item-icon-right">
    You Are Helping
    <i class="icon ion-plus-circled"></i>
    </div>

    <a class="item" href="#">
    You aren't helping anyone yet! That's OK.
    </a>
    
    <div class="item item-divider item-icon-right">
        Your Partners
    <i class="icon ion-plus-circled"></i>
    </div>

    <a class="item" href="#">
    You have no partners yet.
    </a>
    
    <div class="item item-divider item-icon-right">
    Your Helpers;
    <i class="icon ion-plus-circled"></i>
    </div>

    <a class="item" href="#">
    You have no helpers yet.
    </a>


</div>



  {{/ionContent}}
{{/ionView}}
</template>