<template name="debug">

{{#contentFor "headerButtonLeft"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
<a href='settings' id="settings" class="button button-icon icon ion-ios-gear"></a>
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Submit Feedback</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="card">
    <div class="item item-text-wrap">
    Helping Hand is currently in beta testing. Please provide any feedback you think might be helpful.
    </div>
  </div>

  <div class="list">

        <li class="item item-toggle">
         File Anonymously
        <label class="toggle toggle-balanced">
        <input type="checkbox" id="anon">
        <div class="track">
        <div class="handle"></div>
        </div>
        </label>
        </li>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Feedback</span>

        <textarea placeholder="Hello" rows="8" cols="10" id="message">
        </textarea>
        </label>

        <button class="button button-block button-balanced" id="report">
        Submit Feedback
        </button>

    </div>

  {{/ionContent}}
  {{#ionTabs class="tabs-striped tabs-color-positive"}}
        {{> ionTab title="Tab1" path="home" icon="ios-heart"}}
        {{> ionTab title="Tab2" path="people" icon="person-stalker"}}
        {{> ionTab title="Tab3" path="help" icon="ios-help"}}
        {{> ionTab title="Tab4" path="debug" icon="bug"}}
    {{/ionTabs}}
{{/ionView}}
</template>