<template name='editAlert'>
{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="settings"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Edit Alert Email</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}

  <div class="list">
        <div class="item range">
          <i class="icon ion-ios-heart-outline"></i>
          <input type="range" name="volume" id="health" value={{health}}>
          <i class="icon ion-ios-heart"></i>
        </div>
        <label class="item item-input">
            <span class="input-label">Alert Subject</span>
            <input type="text" id="alert-subject" value={{subject}}>
        </label>

        <label class="item item-input item-stacked-label">
        <span class="input-label">Alert Message</span>
        <textarea rows="8" cols="10" id="alert-message">
            {{body}}
        </textarea>
        </label>

        <div class="m1">
        <button class="button button-block button-balanced" id="save-alert">
        Save Alert
        </button>
      </div>
      <div class="m1">
        <button class="button button-block button-assertive" id="delete-alert">
        Delete Alert
        </button>
      </div>

    </div>

  {{/ionContent}}
{{/ionView}}
</template>