<template name="editEmail">
{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="settings"}}
{{/contentFor}}

{{#contentFor "headerButtonRight"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Edit Your Email</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="card">
    <div class="item item-text-wrap">
    Your current email address is; <b>{{getEmail}}</b>
    </div>
  </div>

  <div class="list">
      
        <label class="item item-input">
            <span class="input-label">Email Address</span>
            <input type="text" id="email">
        </label>

        <button class="button button-block button-balanced" id="edit-email">
        Set Email
        </button>

    </div>

  {{/ionContent}}
{{/ionView}}
</template>