<template name="enrol">
{{#contentFor "headerButtonRight"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Create Account</h1>
{{/contentFor}}

{{#ionView}}
  {{#ionContent}}
  <div class="card">
    <div class="item item-text-wrap">
    <h2>Helping Hand - Beta</h2>
    You've been invited to join a social intelligence network called Helping Hand, designed to help people manage their social and emotional well-being. Create your account to get started.
    </div>
  </div>
    {{#ionList}}
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" id="username">
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" id="password">
        </label>
        <button class="button button-block button-balanced" id="createAccount">
        Create Account
        </button>

    {{/ionList}}
  {{/ionContent}}
{{/ionView}}
</template>