<template name="help">

{{#contentFor "headerButtonRight"}}
<a href='settings' id="settings" class="button button-icon icon ion-ios-gear"></a>
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Help</h1>
{{/contentFor}}


{{#ionView}}
  {{#ionContent}}
    {{#ionList}}

   <div class="card">
    <div class="item item-text-wrap">
    <h2>Inviting Friends</h2>
    Click on the plus icon in the 'people' tab to invite a helper, someone to help, or a partner. Helpers can file reports about your behaviour. Partners can also file reports and are able to see your health score and reports about you.
    </div>
    </div>

    <div class="card">
    <div class="item item-text-wrap">
    <h2>Filing Reports</h2>
    You can file reports on people who have invited you to be their helper or partner. Try your best to estimate their health from 0% needing hospitalisation, to 100% doing fine.
    </div>
    </div>

    <div class="card">
    <div class="item item-text-wrap">
    <h2>Adding Alerts</h2>
    You can add alerts in the settings page. These will trigger when your health drops below a certain threshold. Do you best to convince your future self to take the appropriate actions.
    </div>
    </div>
    {{/ionList}}
  
  
  <br />
  {{/ionContent}}

  {{#ionTabs class="tabs-striped tabs-color-positive"}}
        {{> ionTab title="Tab1" path="home" icon="ios-heart"}}
        {{> ionTab title="Tab2" path="people" icon="person-stalker"}}
        {{> ionTab title="Tab3" path="help" icon="ios-help"}}
    {{/ionTabs}}
{{/ionView}}
</template>