<template name="people">

{{#contentFor "headerButtonRight"}}
<a href='settings' id="settings" class="button button-icon icon ion-ios-gear"></a>
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Your Contacts</h1>
{{/contentFor}}


{{#ionView}}
  {{#ionContent}}
    {{#ionList}}

    <div class="item item-divider item-icon-right">
    You Are Helping
    <a href="addHelpee"><i class="icon ion-plus-circled" style="color: #333;"></i></a>
    </div>

   {{#if noHelping}}
    <a class="item" href="#">
    You aren't helping anyone yet.
    </a>
    {{/if}}

    {{#each helping}}
        {{> helpee}}
    {{/each}}
    
    <div class="item item-divider item-icon-right">
        Your Partners
    <a href="addPartner"><i class="icon ion-plus-circled" style="color: #333;"></i></a>
    </div>

    {{#if noPartners}}
    <a class="item" href="#">
    You have no partners yet.
    </a>
    {{/if}}
        
    {{#each partners}}
        {{> partner}}
    {{/each}}


    <div class="item item-divider item-icon-right">
    Your Helpers
    <a href="addHelper"><i class="icon ion-plus-circled" style="color: #333;"></i></a>
    </div>

    {{#if noHelpers}}
    <a class="item" href="#">
    You have no helpers yet.
    </a>
    {{/if}}

    {{#each helpers}}
        {{> helper}}
    {{/each}}

    {{/ionList}}

    <br />
  {{/ionContent}}

  {{#ionTabs class="tabs-striped tabs-color-positive"}}
        {{> ionTab title="Tab1" path="home" icon="ios-heart"}}
        {{> ionTab title="Tab2" path="people" icon="person-stalker"}}
        {{> ionTab title="Tab3" path="help" icon="ios-help"}}
        {{> ionTab title="Tab4" path="debug" icon="bug"}}
    {{/ionTabs}}
{{/ionView}}
</template>