<template name="settings">
{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="home"}}
{{/contentFor}}

{{#contentFor "headerTitle"}}
  <h1 class="title">Settings</h1>
{{/contentFor}}


{{#ionView}}
  {{#ionContent}}
  <ul class="list">
  <li class="item item-toggle">
     Make reports visible to partners
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle">
     Make profile discoverable
     <label class="toggle toggle-balanced">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-button-right">
    Alert Emails
    <a href="addAlert" class="button button-positive">
      <i class="icon ion-compose"></i>
    </a>
  </li>

  <li class="item item-button-right">
    Edit Email Address
    <a href="editEmail" class="button button-positive">
      <i class="icon ion-compose"></i>
    </a>
  </li>


  <li class="item item-button-right">
    Log Out
    <a href="#" class="button button-positive" id="signout">
      <i class="icon ion-power"></i>
    </a>
  </li>
  
  <li class="item item-button-right">
    About
    <a href="about" class="button button-positive">
      <i class="icon ion-information-circled"></i>
    </a>
  </li>

  </ul>




{{/ionContent}}
{{/ionView}}
</template>