$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}


.main {
}

//header st

.jumbotron {
    background: #1E52D4;

  .label {
    font-size: 1rem;
    color: white;
    padding:  1rem 0 0 1rem;
  }  

  h2 {
    font-size: 5rem;
    color: white;
    font-weight: 200;
    text-align: center;
    padding: 0 0 2rem 0;
  }
}


.jumbotron p {
    font-size: 2rem;
    color: white;
    font-weight: 200;
    text-align: center;
}

.content.overflow-scroll {
  bottom: 0px !important;
}

.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}